/* You can add global styles to this file, and also import other style files */
* {
  font-family: Helvetica, sans-serif ;
}

button {
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  color: black;
  border: none;
  padding: 10px;
  font-weight: bold;
}